/*? Import Font Poppins */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/*! Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid red; */

}

/* ? Custom CSS */
:root {
  --scheduled-clr: #FFC700;
  --today-clr: #97E7E1;
  --all-color: #03C988;
  --overdue-clr: #F05941;
  --font-clr: #0C0C0C;
  --header-clr: #FAF0E6;
  --card-color: #E7F6F2;
}

html {
  scroll-behavior: smooth;
}

body {

  background-color: var(--bg-color1);
  color: var(--color1);
}

body.dark {
  --bg-color1: #0b0f19;
  --bg-color2: #1c1e2a;
  --color1: #FEFDED;
  --color2: #DDD;

}

body:not(.dark) {
  --bg-color1: #fbfdff;
  --bg-color2: #f5f5f5;
  --color1: #3e4455;
  --color2: #000;

}

body {
  display: block;
  padding: 10px 10px;
}

main {}

button {
  background: transparent;
  border-radius: 0;
}

header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 20;
  transition: .8s;
  padding: 15px;
  position: fixed;
  height: 219px;
  background-color: burlywood;
  border-radius: 0 0 15px 15px;
  padding-top: 25px;
}


#wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



}

.profile {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;


}

.profile .user-notifications {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.user-prifle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile .user-prifle .user-name {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--color1);

}

.profile .user-prifle .message {
  font-size: .7rem;
  color: var(--color2);
  font-style: italic;
  font-weight: 300;
}

.task-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  gap: .4rem;
  overflow: auto;
}

.profile-date {
  font-size: 14px;
  margin: 5px 0;
  color: var(--color1);
}

.task-container .task-menu {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  justify-content: space-between;
  height: 53px;
  padding: 7px 13px;

}

.task-container .task-menu .icon-container {
  display: flex;
}


.task-sub-munu {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
}

.task-container .today-task {
  background: var(--today-clr);
}

.task-container .scheduled-task {
  background: var(--scheduled-clr);
}


.task-container .completed-task {
  background: var(--all-color);
}

.task-container .overdue-task {
  background: var(--overdue-clr);
}


/*! MAIN CONTAIN   */
#list {
  margin-top: 219px;
  border: 1px solid var(--today-clr);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: var(--bg-color1);
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.cards .cards-info .time {
  opacity: 0.5;
  font-size: 0.8rem;
}

.cards {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background-color: var(--card-color);
  cursor: pointer;
  border-radius: 10px;
}

.cards-info {
  overflow-x: hidden;
}

.cards-info .task {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards.resolved {
  background: var(--all-color);

}

.cards.resolved .cards-info {
  opacity: 0.5;
}

.cards.resolved .cards-info .task {
  text-decoration: line-through;
}

.cards .resolved-btn {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #21212140;
  color: #00000000;
  cursor: pointer;
}

.cards .resolved-btn.active {
  background: #0D9488;
  color: #ffffff;
  border-color: #0F766E;
}

.cards .delete-btn {
  /* visibility: hidden; */
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid var(--overdue-clr);
  color: var(--overdue-clr);
  cursor: pointer;

}

.cards:hover {
  background: #17181820;
}

.cards:hover .delete-btn {
  visibility: visible;
}

footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  transition: .8s;
  padding: 15px;
  position: fixed;
  background-color: #000;
  padding-bottom: 50px;
}



/* 

.input-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
}

.form-control {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: #004225;
  padding-right: 40px;
  color: var(--overdue-clr);

}

.form-control::placeholder,
.form-control {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.form-control::placeholder {
  color: #FFB000;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: auto;
  background-color: transparent;
  transition: 0.2s linear;
  right: 0;
  top: 0;
}

.icon .fa-plus {
  color: #FFB000;
  font-size: 24px;
}

.icon:focus~.form-control,
.form-control:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 50px;
  background-color: #004225;
  border: 2px solid #FFB000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

} */


.input-group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  /* max-width: 450px; */
  height: 50px;
  width: 100%;
}

.submit-button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  background: #2E2E2E;
  border-radius: 0 10px 10px 0;
  transition: 0.3s;
}

.submit-button:hover {
  transition: 0.3s;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  cursor: pointer;
}

.submit-button:active {
  transform: translate(0em, 0.2em);
}

.submit-button span {
  font-weight: 800;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.submit-button:hover span {
  background: #2E2E2E;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

#input-field {
  background-color: #2E2E2E;
  border-radius: 10px 0 0 10px;
  border: none;
  width: 100%;
  padding-left: 8px;
  color: white;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  color: rgb(184, 184, 184);
}